:root {
    --clr-bg-primary-: rgb(33, 31, 37);
    --clr-bg-inspect-: rgba(146, 146, 146, 0.5);
    --clr-ff-form-: rgb(5, 12, 23);
    --clr-ff-primary-: rgb(75, 192, 45);
    --ff-primary-: monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--ff-primary-);
    color: var(--clr-ff-primary-);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--clr-bg-primary-);
    width: 100vw;
}

img {
    -webkit-user-drag: none;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.search * {
    margin: 1rem 0.2rem 1rem 0;
}

h1 {
    text-align: center;
    padding: 1.5rem 0 0 0;
}

p {
    text-align: center;
    font-size: 1.2rem;
}

form {
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    padding: .5rem;
}

form>* {
    color: var(--clr-ff-form-)
}

#no-input-error-msg,
#no-images-error-msg,
#no-API-response-error-msg,
#default-error-msg {
    display: none;
}

.loading-container {
    display: flex;
    gap: 0.1rem;
    margin: 2rem 0;
    justify-content: center;
    visibility: hidden;
}

#img-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.grid-item {
    width: 24%;
    margin-bottom: 0.5rem;
}

.grid-item img {
    width: 100%;
    
}

@media screen and (max-width: 800px) {
    .grid-item {
        width: 48%;
    }
}

@media screen and (max-width: 600px) {
    .grid-item {
        width: 100%;
    }
}

#popup-container {
    position: fixed;
    display: none;
    height: 100vh;
    width: 100vw;
    top: 0%;
    left: 0%;
    background-color: var(--clr-bg-inspect-);
    -webkit-user-drag: none;
}

#popup-container img {
    max-height: 97%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}